/* .slick-slider .slick-next{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 5px;
}
.slick-slider .slick-prev{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}
.slick-slider .slick-next:hover{

    background-color: #000;
    border:1px solid black;
}
.slick-slider .slick-prev:hover{

    background-color: #000;
    border:1px solid black;
} */